/* menu.css */

.menu-section {
    padding: 20px 0;
    text-align: center;
}

.menu-section h2 {
    margin-bottom: 20px;
}

.menu-view {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around; /* Center items horizontally */
    max-width: 1200px; /* Limit maximum width of menu items */
    margin: 0 auto;
}

.menu-item {
    width: calc(33.33% - 20px); /* Calculate width for three columns with gap */
    box-sizing: border-box;
    padding: 10px;
    background: #fff;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column; /* Ensure items stack vertically */
    align-items: center; /* Center align items */
}

.menu-item-content {
    display: flex;
    flex-direction: column;
    width: 100%; /* Ensure full width */
}

.menu-item-info {
    text-align: center;
}

.menu-item h3, .menu-item p {
    margin: 5px 0;
}

.drink-img {
    width: 100%;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.add-button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #ff9900;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-button:hover {
    background-color: #e68a00;
}

.add-button:focus {
    outline: none;
}
