
/* Navbar styles */
.navbar a {
    color: #fff;
    font-size: 18px;
    padding: 10px 15px;
    text-decoration: none;
}

.navbar a:hover {
    font-size: 110%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}


