body {
    font-family: 'Poppins', sans-serif;
    background-color: #f9e5c2;
    min-height: 100vh;
}


.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ff9900;
    color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /*  Add a shadow for depth */
    padding: 10px 0;
}

/* Container that wraps the menu and order sections */
.container {
    display: flex;
    height: 100vh; /* Full height */
}

.hidden {
    display: none;
}
