/* Reset default styles for all elements */
* {
    box-sizing: border-box; /* calculated width of each menu item includes the padding and border  */
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f9e5c2;
    min-height: 100vh;
}

.menu-view {
    display: flex; /* Apply Flexbox to the parent container */
    justify-content: space-between; /* Distribute items evenly */
}

.menu-item {
    width: calc(33.33% - 20px); /* Calculate width for three columns with gap */
    padding: 10px;
    background: #fff;
    border: 1px solid #ccc;
   
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ff9900;
    color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /*  Add a shadow for depth */
    padding: 10px 0;
}